*{
    margin: 0; padding: 0; 
    font-family: "Tilt Neon";
}

.fontSize14 {
    font-size: 14px;
}

.fontSize15 {
    font-size: 15px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize18 {
    font-size: 18px;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop30{
    margin-top: 30px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight30 {
    margin-right: 30px;
}

main>div:first-child {
    margin:auto;
}

h1 {
    font-size: 36px;
    color:rgb(119, 35, 155);
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

li {
    border-bottom: rgb(200, 200, 200) 2px solid;
}

li:first-child {
    border-top:rgb(200, 200, 200) 2px solid;
}

