<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/depositFormResult.css" />
    <link rel="stylesheet" href="/css/depositFormMaker.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="banner"><p>💻컴퓨터공학과 과잠💻</p></div>
      <nav class="navs">
        <ul class="nav-left">
          <li class="pageBtn">새소식</li>
          <li class="pageBtn">채팅</li>
        </ul>
        <ul class="nav-right">
          <li class="adminBtn">수요조사통계</li>
          <li class="adminBtn">입금폼 양식 작성</li>
          <li class="adminBtn">입금폼 통계</li>
        </ul>
        <div class="resultbox">
          <div class="Question">
            <p>Q2.</p>
            이름을 입력해주세요
            <table class="Q2-table">
              <thead>
                <tr>
                  <th>내용</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>김성신</td>
                </tr>
                <tr>
                  <td>이수정</td>
                </tr>
                <tr>
                  <td>최난향</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="Question">
            <p>Q3.</p>
            과잠에 학번 자수 유무
            <table class="Q3-table">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>유</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th>무</th>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
