<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ShowAccount.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="banner"><p>💻컴퓨터공학과 과잠💻</p></div>
      <div class="completeText">
        입금폼이
        <span style="color: rgb(142, 68, 173); position: relative; top: -2px">제출</span>되었습니다.
      </div>
      <div class="accountBanner">
        <span style="font-size: 60px">🔮</span>
        <span style="font-size: 40px; font-weight: bold; margin-left: 5em; margin-right: 5em"
          >::입금 계좌 안내::</span
        >
        <span style="font-size: 60px">🔮</span>
        <div style="margin-top: 3px" />
        <dic class="account">국민은행 01-2345-678-910 김수룡</dic>
        <div class="buyInform">
          <p>뽀룡이 학잠 1개 : 43,000원</p>
          <p>배송비(학교에서 직접 수령하는 경우에는 제외) : 3,000원</p>
          <p>자수추가: 10,000원</p>
        </div>
      </div>
      <button class="completeBtn">확인</button>
    </div>
  </body>
</html>