<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/DepositFormSubmit.css" />
    <link rel="stylesheet" href="/css/DepositForm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="banner"><p>💻컴퓨터공학과 과잠💻</p></div>
      <nav class="navs">
        <ul class="nav-left">
          <li class="pageBtn">새소식</li>
          <li class="pageBtn">채팅</li>
        </ul>
        <ul class="nav-right">
          <li class="adminBtn">수요조사통계</li>
          <li class="adminBtn">입금폼 양식 작성</li>
          <li class="adminBtn">입금폼 통계</li>
        </ul>
        <div class="resultbox">
          <div>
            <div class="Question">
              <p>Q1.</p>
              학번을 입력해주세요 (예시: 20211234)
            </div>
          </div>
          <label for="Answer"></label>
          <input type="text" id="Answer" />
          <div class="Question">
            <p>Q2.</p>
            이름을 입력해주세요 (예시: 김수룡)
          </div>
          <label for="Answer"></label>
          <input type="text" id="Answer" />
        </div>
        <button class="submitBtn">제출</button>
      </nav>
    </div>
  </body>
</html>