<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SungshinMine09</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="Join_Complete_Wrapper" id="Join_Complete_Wrapper">
            <h2 class="Join_Title">회원가입</h2>
            <span class="Join_Step">1. 학교 이메일 인증 >  2. 정보입력  >  <b>3. 가입완료</b></span>
            <h1 class="Join_complete_msg">🎊가입을 축하드립니다!🎉</h1>
            <span class="Join_complete_msg2">💜 성신마인 09번지에서 즐거운 시간 보내시길 바라겠습니다 💜</span>
            <a href="" class="gotoHomepage_btn">홈으로 가기</a>
        </div>
    </body>
</html>