<html>
  <head>
    <meta charset="utf-8">
    <title>✨성신마인 09번지🔮</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="container">
      <h1><button>✨성신마인 09번지🔮</button></h1>
      <h3><button>💜 수정이들만을 위한 공동구매 웹서비스 💜</button></h3>
      <nav>
        <ul>
          <li><button onClick="location.href='/index'">홈</button></li>
          <li><button onClick="location.href='/totalGonggu'">공구방</button></li>
          <li><button>FAQ</button></li>
          <li class="navbutton"><button>로그인/회원가입</button></li>
        </ul>
      </nav>
    </header>
    <%- body %>
  </body>

  <footer>
    <nav>
      <ul>
        <li><button>공지사항</button></li>
        <li><button>이용안내</button></li>
        <li><button>정책</button></li>
        <li class="contact">문의 (10:00 ~ 17:00)<br>📞 000 - 0000 - 0000</li>
      </ul>
    </nav>
  </footer>
</html>
