<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>성신마인 09번지</title>
  </head>
  <body>
    <p>고정 컴포넌트</p>
    <%- body %>
  </body>
</html>
