.newPW_box {
    width: 515px;
    height: 540px;
    padding: 40px;
    position: relative;
    left: 250px;
    bottom: 70px;
    margin: 30px;
    margin-bottom: 0px;
  }
  
#myPageTitleBox {
    width: 197px; 
    height: 54px;
    background-color: rgb(239, 220, 255);
    position: relative;
    left: 100px;
}

h1 {
    font-size: 36px;
    color: rgb(119, 35, 155);
    font-weight: bold;
    margin: 42px 0 0 0;
}

  #newPW_box > .newPW_Title {
    font-size: 38px;
    color: rgb(119, 35, 155);
    position: relative;
    left: 170px;
    padding-bottom: 25px;
  }
  
  #newPW_box > .newPW_Step {
    font-size: 16px;
    position: relative;
    bottom: 0px;
    left: 130px;
    bottom: 30px;
  }
  
  .old_id_label {
    background-color: rgb(190, 153, 250);
    color: white;
    width: 40px;
    height: 20px;
    position: relative;
    left: 120px;
    top: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border-color: rgb(190, 153, 250);
    justify-content: center;
    font-size: 16px;
  }

  .old_pw_label {
    background-color: rgb(190, 153, 250);
    color: white;
    width: 40px;
    height: 20px;
    position: relative;
    left: 120px;
    top: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 5px;
    border-color: rgb(190, 153, 250);
    justify-content: center;
    font-size: 16px;
  }

  .newPW_label {
    background-color: rgb(190, 153, 250);
    color: white;
    width: 40px;
    height: 20px;
    position: relative;
    left: 120px;
    top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border-color: rgb(190, 153, 250);
    justify-content: center;
    font-size: 16px;
  }
  
  .newPW_requireInfo {
    font-size: 13px;
    color: red;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 280px;
  }
  
  .newPW_confirm_label {
    background-color: rgb(190, 153, 250);
    color: white;
    width: 100px;
    height: 20px;
    position: relative;
    left: 120px;
    bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: rgb(190, 153, 250);
    justify-content: center;
    font-size: 15px;
  }

  #newPW_Form > input[id="old_ID"] {
    width: 165px;
    height: 35px;
    position: relative;
    left: 280px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: rgb(189, 189, 189);
    text-align: center;
    font-size: 16px;
  }

  #newPW_Form > input[id="old_pw"] {
    width: 165px;
    height: 35px;
    position: relative;
    left: 280px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: rgb(189, 189, 189);
    text-align: center;
    font-size: 16px;
  }
  
  #newPW_Form > input[id="newPassword"] {
    width: 165px;
    height: 35px;
    position: relative;
    left: 280px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: rgb(189, 189, 189);
    text-align: center;
    font-size: 16px;
  }
  
  #newPW_Form > input[id="confirm_newPW"] {
    width: 165px;
    height: 35px;
    position: relative;
    left: 280px;
    bottom: 46px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: rgb(189, 189, 189);
    text-align: center;
    font-size: 16px;
  }

  #newPW_Form > input::placeholder {
    padding-left: 0px;
  }
  
  #newPW_Form > input[type="submit"] {
    background-color: rgb(119, 35, 155);
    color: rgb(239, 220, 255);
    justify-content: center;
    text-align: center;
    width: 190px;
    height: 40px;
    position: relative;
    left: 210px;
    bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
  }