* {
  font-family: "Tilt Neon";
}

.container {
  margin: 0 auto;
}

#roomForm {
  display: flex;
  justify-content: center;
}

.left {
  width: 43%;
  /* height: 800px; */
  /* position: absolute; */
  float: left;
  /* padding-left: 30px; */
}

.verticalLine {
  height: 600px;
  border-right: 1px solid #000000;
  /* left: 48%; */
  /* position: absolute; */
  /* display: flex; */
  margin-top: 40px;
}

.right {
  /* margin-left: 48%; */
  /* height: 800px; */
  /* float: right;
  position: absolute; */
  padding-left: 30px;
}

.title {
  width: 300px;
  height: 54px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(239, 220, 255);
  font-weight: bold;
}

.title p {
  font-size: 36px;
  padding-top: 5px;
  color: rgb(119, 35, 155);
}

.smallText {
  width: 400px;
  height: 20px;
  margin-top: 5px;
  font-size: 16px;
}

.questionText {
  width: 500px;
  font-size: 24px;
  margin-top: 45px;
  font-weight: bold;
}

#inputName {
  width: 400px;
  height: 60px;
  font-size: 14px;
}

#inputCost {
  width: 150px;
  height: 40px;
  font-size: 14px;
}

#inputMinQty {
  width: 150px;
  height: 40px;
  font-size: 14px;
}

#inputMaxQty {
  width: 150px;
  height: 40px;
  font-size: 14px;
}

#inputIntroduce {
  width: 500px;
  height: 400px;
  word-break: break-word;
  font-size: 14px;
}

.custom-inputImage {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

#inputImage::file-selector-button {
  margin-right: 15px;
  border: none;
  background: rgb(239, 220, 255);
  color: rgba(119, 35, 155, 1);
  height: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

#createBtn {
  overflow: auto;
  width: 192px;
  height: 32px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(119, 35, 155, 1);
  color: rgb(239, 220, 255);
  border-radius: 10px;
  border-style: none;

  /* position: absolute; */
  margin-left: 64%;
  margin-top: -100px;
  /* left: 30%; */
}

.purpleText {
  color: rgb(119, 35, 155);
}
