* {
  font-family: "Tilt Neon";
}

.container {
  margin: 0 auto;
}

.banner {
  width: 1120px;
  height: 117px;

  text-align: center;
  vertical-align: middle;
  line-height: 117px;
  align-items: center;
  margin: 25px auto;

  background-color: rgb(239, 220, 255);
}

.banner p {
  font-size: 28px;
  color: rgb(119, 35, 155);
}

.navs {
  width: 1120px;
  height: 51px;

  /* display: block; */
  /* background-color: azure; */
  color: black;

  /* margin-bottom: 65px; */
  margin: auto;
}

.nav-left {
  display: inline-block;
  margin-top: 0px;
  float: left;
  margin-bottom: 75px;
}

.nav-right {
  display: inline-block;
  margin-top: 8px;
  float: right;
  margin-bottom: 75px;
}

.pageBtn {
  display: inline-block;
  width: 97px;
  height: 51px;

  background-color: rgb(233, 233, 233);
  line-height: 51px;
  font-size: 16px;
  text-align: center;
}

.adminBtn {
  display: inline-block;
  width: 137px;
  height: 35px;

  background-color: rgb(233, 233, 233);
  line-height: 35px;
  font-size: 16px;
  text-align: center;
}

.plusBtn {
  width: 30px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  cursor: ponter;
  border: none;

  font-size: 28px;
}

.minusBtn {
  width: 30px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  cursor: ponter;
  border: none;

  font-size: 28px;
}

.formUnit {
  bottom: 0;
  width: 1120px;
  height: 95px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* display: inline-block; */
}

.form-left {
  align-items: flex-start;
  height: 100%;
  width: 60px;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.form-right {
  align-items: flex-end;
  height: 100%;
  width: 980px;
}

.formType {
  width: 100%;
}

.formType select {
  width: 870px;
  height: 42px;
}

#question-form {
  margin: 8px auto;
  width: 864px;
  height: 40px;
}
