* {
  font-family: "Tilt Neon";
}

html,
body {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}

/********** header **********/
.container {
  top: 0;
  z-index: 1;
  width: 1200px;
  margin: auto;
}
/* ✨성신마인 09번지🔮 */
.container h1 {
  text-align: center;
  padding-top: 30px;
}
.container h1 button {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  border: 0;
}
/* 💜 수정이들만을 위한 공동구매 웹서비스 💜 */
.container h3 {
  text-align: center;
  padding-bottom: 10px;
}
.container h3 button {
  font-size: 16px;
  text-align: center;
  background: transparent;
  border: 0;
}

.container button {
  /* 기본적으로 버튼은 배경:투명 & 테두리 없음 */
  border: 0;
  background-color: transparent;
}
/* 홈 공구방 FAQ 부분 */
.container nav {
  margin: auto;
  width: 1119px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.container nav ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}
.container nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.container nav ul li button {
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5em;
}
.navbutton {
  float: right;
}
.navbutton button {
  line-height: 2.5em;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: rgb(142, 68, 173);
  background-color: rgb(239, 220, 255);
}

/********** footer **********/
footer {
  width: 1200px;
  margin: auto;
}
footer nav {
  width: 1119px;
  margin: auto;
  margin-top: 20px;
  border-top: 1px solid grey;
}
footer nav ul {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  width: 1059px;
}
footer nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
footer nav ul li button {
  font-size: 15px;
  font-weight: bold;
  border: 0px;
  background-color: transparent;
}
.contact {
  float: right;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}

/***** 마이페이지, 알림페이지, 채팅 ******/
.fontSize14 {
  font-size: 14px;
}

.fontSize15 {
  font-size: 15px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize36 {
  font-size: 36px;
}

.fontBold {
  font-weight: bold;
}

.textCenter {
  text-align: center;
}

.BackgroundColorGray {
  background-color: rgb(233, 233, 233);
}

.BackgroundColorPurple {
  background-color: rgb(142, 68, 173);
}

.ColorLightPurple {
  color: rgb(239, 220, 255);
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.flexDirectionColumn {
  flex-direction: column;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginRight30 {
  margin-right: 30px;
}

main > div:first-child {
  margin: auto;
}

/*
a {
  text-decoration: none;
}

/* 버튼 디폴트 스타일 */
button {
  border: none;
  border-radius: 4px;
}
*/
