@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  color: black;
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

/* 버튼 디폴트 스타일 */
button {
  border: none;
  border-radius: 4px;
}

/* 지정된 설정 */
.fontSize15 {
  font-size: 15px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize36 {
  font-size: 36px;
}

.fontBold {
  font-weight: bold;
}

.textCenter {
  text-align: center;
}

.BackgroundColorGray {
  background-color: rgb(233, 233, 233);
}

.BackgroundColorPurple {
  background-color: rgb(142, 68, 173);
}

.ColorLightPurple {
  color: rgb(239, 220, 255);
}
