/*********************************************/
/************** suyo_stat 페이지 *************/
/*********************************************/

.gonggu_header {
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gonggu_header div {
  width: 1119px;
  height: 117px;
  margin: auto;
  background-color: rgb(239, 220, 255);
  font-size: 28px;
  color: rgb(142, 68, 173);
  font-weight: bold;
  text-align: center;
}
.gonggu_header div p{
  padding-top: 39.7px;
  margin: 0px;
}
.gonggu_delete_button {
  float: right;
  margin-right: 10px;
  width: 134px;
  height: 26px;
  border-radius: 4px;
  font-size: 12px;
  color: rgb(64, 64, 64);
  background-color: rgb(233, 233, 233);
  border: 0px;
}


.gonggu_nav {
  width: 1200px;
  margin: auto;
}
.gonggu_nav div{
  width: 1119px;
  margin: auto;
}
.gonggu_nav div nav ul {
  list-style: none;
  padding: 0px;
}
.gonggu_nav div nav ul li {
  display: inline-block;
}


.message_type_button {
  width: 97px;
  height: 51px;
  background-color: rgb(233, 233, 233);
  color: rgb(64, 64, 64);
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: 0px;
}


.grey_s_button {
  width: 137px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  color: rgb(64, 64, 64);
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  border: 0px;
}


.gonggu_suyo_stat {
  width: 1200px;
  margin: auto;
}
.gonggu_suyo_stat div {
  width: 1039px;
  margin: auto;
  text-align: center;
}


.image_text {
  position: relative;
}
.image_text img{
  width: 337px;
  height: 230px;
}
.image_text p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: white;
  font-size: 19px;
  background-color: rgb(142, 68, 173);
  border-radius: 33.5px;
  width: 266px;
  height: 67px;
  line-height: 67px;
}
.gonggu_suyo_stat div ul{
  list-style: none;
  text-align: center;
  padding: 0px;
}
.gonggu_suyo_stat div ul li{
  font-size: 24px;
  font-weight: bold;
}
.gonggu_suyo_stat div ul li p{
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  margin-top: 40px;
}