<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>✨성신마인 09번지🔮</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="hompagebanner">
      <div>
        <img src="/images/성신마인09번지오픈배너.png" />
      </div>
    </div>

    <div class="newhot_button">
      <ul>
        <li><button>✨ NEW 공동구매 ✨</button></li>
        <li><button>🔥 수정이들의 HOT픽 🔥</button></li>
      </ul>
    </div>

    <div class="item">
      <div>
        <div>

          <% Array.from(newGonggus).forEach( newGonggu => { %>
          <div>
            <a href="<%= `/CoBuyRoom/totalGonggu/${newGonggu.id}` %>" style="text-decoration: none;">
              <img />
              <p> <%= newGonggu.title %> </p>
            </a>
          </div>
          <% }); %>
          
        </div>

        <div>

          <div>
            <a>
              <img />
              <p>남색 학잠</p>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
