<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알림페이지</title>
    <link rel="stylesheet" href="/css/alarmPage.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div>
        <div>
          <h1 id="alarmTitleBox" class="center flex">알림</h1>
        </div>
        <div class="flex marginTop30 marginLeft10">
          <h2 class="marginRight30" onClick="location.href='/user/alarmPage'">전체</h2>
          <h2 class="marginRight30" onClick="location.href='/user/coBuyRoomAlarm'" style="color: rgb(142, 68, 173)">공구방</h2>
          <h2 onClick="location.href='/user/chattingAlarm'">채팅</h2>
        </div>
        <ul class="marginTop30" id="alarmPageUl">
          <% Array.from(coBuyRoomNotifications).forEach(notification => { %>
            <%if (notification.host_id == userID or notification.receiver_id == userID) {%>
            <li class="flex">
              <a href="<%=notification.url%>">
                <div class="image"><img src="imageExample.png" /></div>
                <div class="textBox">
                <% if (notification.host_id==userID) {%>
                  <div class="fontSize18">
                    <span style="color: rgb(192, 57, 43); font-weight: bold">주최</span>
                    <span>하신 </span>
                    <span style="font-weight: bold;"><%= notification.title %></span>  
                    <span>공구방의 새소식을 업데이트하였습니다.</span>
                  </div>
                <%};%>
                <% if (notification.host_id!=userID) {%>
                  <div class="fontSize18">
                    <span style="color: rgb(142, 68, 173); font-weight: bold">참여</span>
                    <span>하신 </span>
                    <span style="font-weight: bold;"><%= notification.title %></span>  
                    <span>공구방의 새소식을 알려드립니다.</span>
                  </div>
                <%};%>
                <div class="fontSize14 marginTop20 textBoxContent">
                  <%= notification.content %>
                </div>
              </a>
            </li>
          <%});%>
        </ul>
      </div>
    </main>
  </body>
</html>