<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SungshinMine09</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/getIDbyEmail.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="getIDbyEmail_Wrapper" id="getIDbyEmail_Wrapper">
    <form method="post" action="getIDbyEmail" id="getIDbyEmail_Form">
    <h2 class="getIDbyEmail_Title">아이디 찾기</h2>
      <span class="getIDbyEmail_Step">버튼을 누르면 아이디를 성신 지메일로 보내드리겠습니다.</b></span>
      <input type="submit" value="이메일로 아이디 받기" />
    </form>
    </div>
  </body>
</html>