<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SungshinMine09</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/JoinPage_1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="id_box" id="id_box">
      <h2 class="Join_Title">회원가입</h2>
      <span class="Join_Step"
        ><b>1. 성신 지메일 인증</b> > 2. 정보입력 > 3. 가입완료</span
      >
      <form method="post" action="JoinStep1" id="JoinForm1">
        <!--action에는 사용자가 입력한 데이터를 처리할 파일의 경로가 들어감. 백엔드 언어로 작성됨.-->
        <span class="school_id_label">학번</span>
        <span id="email_symbol">@</span>
        <span id="email_domain">sungshin.ac.kr</span>
        <input
          type="text"
          name="student_number"
          id="email_IDnumber"
          placeholder="학번"
          pattern="[0-9]{8}"
          required
        />
        <input type="submit" value="인증번호 전송" style="cursor: pointer"/>
      </form>
      <form method="post" action="Join_emailAuth" id="JoinForm2">
        <!--action에는 사용자가 입력한 데이터를 처리할 파일의 경로가 들어감. 백엔드 언어로 작성됨.-->
        <span class="code_label">인증번호</span>
        <input
          type="text"
          name="authNumber"
          placeholder="인증번호"
          pattern="[0-9]{6}"
          required
        />
        <input type="submit" value="확인" style="cursor: pointer"/>
      </form>
    </div>
  </body>
</html>
