<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SungshinMine09</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/newPW.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="newPW_box" id="newPW_box">
      <h2 class="newPW_Title">비밀번호 찾기</h2>
      <span class="newPW_Step">1. 성신 지메일 인증  >  <b>2. 새 비밀번호 입력</b></span>
      <form method="post" action="/user/newPW" id="newPW_Form">
        <!--action에는 사용자가 입력한 데이터를 처리할 파일의 경로가 들어감. 백엔드 언어로 작성됨.-->
        <span class="id_label">가입된 아이디</span>
        <input
          type="text"
          id="ID"
          name="ID"
          placeholder="가입된 아이디"
          pattern="[a-z0-9]{4,16}"
          required
        />

        <span class="newPW_label">새 비밀번호</span>
        <span class="newPW_requireInfo"
          >영문 대문자/소문자/숫자/특수문자 모두 최소 1개 이상, 10자~16자</span
        >
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="새 비밀번호"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*~_+=]).{10,16}"
          required
        />

        <span class="newPW_confirm_label">새 비밀번호 확인</span>
        <input
          type="password"
          id="confirm_newPW"
          name="confirm_newPW"
          placeholder="새 비밀번호 확인"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*~_+=]).{10,16}"
          required
        />

        <input type="submit" value="새 비밀번호 저장" />
      </form>
      <a href="/user/findID" class="gotofindIDpage_btn">아이디를 잊으셨나요?</a>
    </div>
  </body>
</html>