<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/room.css"/>
  </head>

  <body>
      <div class="room_title">
        컴퓨터공학과 학잠
        <!-- <%= %> -->
      </div>

        <ul class="menu">
          <li>새소식</li>
          <li>채팅</li>
        </ul>

      <div class="post">
        <div class="post_header">
            <span class="title">업체 미팅 결과</span>
            <span class="created_at">2023.11.11 00:00:00</span>
        </div>
          <div class="post_body">
            <p class="post_text">뽀롱이 학잠 총대입니다!</p>
        </div>
  </body>
</html>
